.title {
  padding:20px;
  background-color: #4282b6;
  color:white;
  border-radius: 12px;
  display:block;
  margin: top 40px;
  margin:bottom 10px;
  margin-left: 200px;
  width:60%;
  font-style:normal;
  font-size: 130%;
  text-align: center;
  box-sizing:border-box;

.intro {
  border:2px rgb(33, 41, 39);
  padding:10px;
  background-color: rgb(33, 41, 39);
  border-radius: 12px;
  display:block;
  margin: top 10px;
  margin:bottom 10px;
  margin-left: 200px;
  width:40%;
  font-size: 80px;
  text-align: center;
  box-sizing:border-box;
}

.btn {
  background-color: #4380b6; 
  color:rgb(31, 59, 68);}
  border-radius: 12px;
  text-color: black;
  margin-left:200px;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
}

body {
  background-color:rgb(156, 162, 165);
 }

 .column {
  padding:8px;
  display: block;
  margin: top 10px;
  margin: bottom 10px;
  width: 50%;
  float:center;
  font-size: 140%;
  text-align: center;
  box-sizing: border-box;
  color:rgb(17, 43, 33);
  float: left;
  background-color: rgb(189, 189, 189);
}
